/* body {
    font-family: 'Montserrat', sans-serif;
   
}

div#welcome {
    background-color: red;
    padding: 20px 10px;
}

#welcome {
    font-weight: 700;
    color: white;
}

.form-inline {
    float: left;
    text-align: center;
    padding: 12px;
    font-size: 18px;
    color: #000000;
    font-weight: 700;
    border-radius: 4px;
}

form.home {
    padding: 5px;
}

form.logout {
    padding: 5px;
}

form button {
    border: none;
    background: rgba(199, 223, 252, 0.5);
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
}
h1{
    color: white;
} */

#welcome {
    background: #f01a1a;
    padding: 20px 10px;
    font-size: 2.5rem;
    font-weight: 700;
    color:white;
    font-family: 'Montserrat', sans-serif;
}


.form-inline {
    float: left;
    text-align: center;
    padding: 12px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 4px;
}

#search {
    border: none;
    font-family: "Verdana", sans-serif;
    font-size: 18px;
    font-weight: 700;
}
#h {
    border: none;
    font-family: "Verdana", sans-serif;
    font-size: 18px;
    font-weight: 700;
}
#l {
    border: none;
    font-family: "Verdana", sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin: 3px;
}